body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-image: url("fond.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

#titre {
    position: relative;
    width: 40%;
    height: 15%;
    margin-left: 30%;
    text-align: center;
    font-size: 20px;
    border: 2px solid #847d74;
    box-shadow: 13px 12px 25px lightgrey, -13px -12px 25px lightgrey;
    color: #504a46;
    text-shadow: 13px 12px 25px lightgrey, -13px -12px 25px lightgrey;
    background-color: #279ade;
}

#moi {
    position: absolute;
    background-image: url("moi.png");
    background-size: 100%;
    height: 40%;
    width: 17%;
    border: 3px solid #847d74;
    border-radius: 150px;
    right: 12%;
    top: 33%;
}

.titre {
    position: relative;
    text-decoration-line: underline;
    text-decoration-color: white;
    height: 20%;
    margin-top: 5%;
    font-style: italic;
    opacity: 0.7;
    left: 12%;
}

td {
    padding-left: 4%;
    font-weight: normal;
    height: 30px;
    opacity: 0.5;
}

#parcoursc, #pro, #coord, #formulaire {
    position: relative;
    width: 60%;
    left: 12%;
    border: 3px solid #847d74;
    box-shadow: 5px 5px 20px lightgrey, -5px -5px 20px lightgrey;
    text-align: left;
    padding-left: 1%;
    font-style: italic;
    background-color: #279ade;
}

#coord {
    width: 40%;
}

#parcoursc th {
    width: 20%;
}

#pro p {
    opacity: 0.5;
    font-weight: normal;
}

ul {
    left: 12%;
    font-style: italic;
    opacity: 0.5;
    font-weight: normal;
    margin-left: 10%;
}

#form {
    font-style: italic;
    opacity: 0.5;
    font-weight: normal;
    margin-left: 12%;
    width: 60%;
    margin-bottom: 3%;
}

#name, #mail, #message {
    position: absolute;
    left: 30%;
}